<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restaurants</title>
    <script src="js/accordion.js"></script>
    <script language='javascript'>
            $(document).ready(function(){
               $('.ui.accordion').accordion();
            });
    </script>
  </head>
  <body>

    <div class="bg-img-2">
      <div class="head-text">
          <h2>Find unique restaurants all around New York</h2>
      </div>
    </div>

    <div class="margin">
    <center>
    <br>
    <center><%= form_tag(restaurants_path, method: :get) do%>
      <div class="ui icon input">
      <%= text_field_tag :query, params[:query], :placeholder => "Search restaurants..." %>
      <i class="search icon" type="submit"></i>
      </div>
    <% end %></center>
    <br><br>

    <div class="ui styled accordion">
      <% Restaurant.location_sort.each do |location, restaurant| %>
      <div class="title">
        <i class="dropdown icon"></i>
          <%= location %>
      </div>
      <div class="content">
        <% restaurant.each do |r| %>
        <% @restaurant = Restaurant.find_by(name: r) %>
          <p><%= link_to r, restaurant_path(@restaurant) %></p>
        <% end %>
      </div>
      <% end %>
    </div>
    <br><br>
  </div>

  </body>
</html>
